html {
  font-size: 2vmin;
  --c-light-blue: #5acca0;
  --c-grey: #e8e6e6;
  --c-blue: #3a47e4;
  --c-white: #ffffff;
  --grid-v: 2.5rem;
  --grid-h: 4.44rem;
}

@media (max-aspect-ratio: 1/1) {
  html {
    font-size: 3vmin;
  }
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--c-white);
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
}

body {
  background: var(--c-blue);
}

footer {
  background: var(--c-grey);
  padding: var(--grid-v) 0;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 1/1) {
  footer p {
    flex-direction: column;
  }
}

footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: var(--grid-v);
  color: var(--c-blue);

  margin: 0 var(--grid-v);
  white-space: nowrap;
}

@media (max-aspect-ratio: 1/1) {
  footer a {
    font-size: 1.5rem;
    line-height: calc(var(--grid-v) * 1.5);
  }
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: var(--grid-v);
  overflow: hidden;
  background-image: url(bottom-background.png);
  background-position: bottom -9rem left 0;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-aspect-ratio: 1/1) {
  article {
    flex-direction: column;
    transform: translate(0, 0);
    background-position: bottom 0 left 0;
  }
}

.ctas a {
  --top: 0.2rem;
  --space: calc(var(--grid-h) / 3);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  line-height: calc(var(--grid-v) * 0.75 - var(--top));

  display: inline-block;
  margin: var(--space) var(--space) 0 0;
  border: 0;
  padding: 0 var(--space) var(--top) var(--space);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  background: var(--c-light-blue);
  white-space: nowrap;
}

.ctas a:last-child {
  margin-right: 0;
}

@media (max-aspect-ratio: 1/1) {
  .ctas a {
    font-size: 1.5rem;
    line-height: calc(var(--grid-v) * 1.5 - var(--top));
  }
}

.ctas a:hover {
  color: var(--c-blue);
  background: var(--c-white);
}

.logo {
  padding: calc(var(--grid-h) * 1.3);
}

.logo p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14rem;
  line-height: calc(var(--grid-v) * 5);

  text-align: center;
  color: var(--c-light-blue);
  white-space: nowrap;
  transform: translate(-4rem, 0);
}

section {
  width: calc(var(--grid-h) * 4.5);
  transform: translate(-4rem, 0);
}

.title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: var(--grid-v);
  white-space: nowrap;
}

@media (max-aspect-ratio: 1/1) {
  .title p {
    font-size: 2rem;
  }
}

.details {
  margin: calc(var(--grid-v) * 0.5) 0;
  white-space: nowrap;
}

@media (max-aspect-ratio: 1/1) {
  .details {
    margin: var(--grid-v) 0;
  }
}

.details time,
.details address {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

  display: inline;
}

@media (max-aspect-ratio: 1/1) {
  .details time,
  .details address {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.top {
  width: 100%;
  position: absolute;
  left: 0;
  transform: translate(0, -13rem);
}

@media (max-aspect-ratio: 1/1) {
  .top {
    transform: translate(0, -7rem);
  }
}
