html {
  font-size: 2vmin;
  --c-light-blue: #5acca0;
  --c-grey: #e8e6e6;
  --c-blue: #3a47e4;
  --c-white: #ffffff;
  --grid-v: 2.5rem;
  --grid-h: 4.44rem;
}

@media (max-aspect-ratio: 1/1) {
  html {
    font-size: 3vmin;
  }
}

@font-face {
  font-family: SofiaPro;
  src: url('assets/Sofia-Pro-Light.otf');
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--c-white);
  box-sizing: border-box;
  font-family: 'SofiaPro', sans-serif;
}

body {
  background: var(--c-blue);
}

.top-background {
  width: 100%;
  position: absolute;
  left: 0;
  transform: translate(0, -20rem);
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: var(--grid-v);
  overflow: hidden;
  background-image: url('assets/bottom-background.png');
  background-position: bottom -9rem left 0;
  background-repeat: no-repeat;
  background-size: contain;
}

section {
  width: calc(var(--grid-h) * 4.5);
}

.logo-yglf {
  width: 408px;
  height: 437px;
}

@media (max-aspect-ratio: 1/1) {
  .logo-yglf {
    width: 260px;
    height: 270px;
  }
}

.logo {
  padding: calc(var(--grid-h) * 1.3);
}

@media (max-aspect-ratio: 1/1) {
  article {
    flex-direction: column;
    transform: translate(0, 0);
    background-position: bottom 0 left 0;
  }

  .logo {
    padding: 0;
  }
}

.logo p {
  line-height: calc(var(--grid-v) * 5);
  text-align: center;
  color: var(--c-light-blue);
  white-space: nowrap;
  transform: translate(-4rem, 0);
}

.title p {
  font-size: 1.5rem;
  line-height: var(--grid-v);
  white-space: nowrap;
}

@media (max-aspect-ratio: 1/1) {
  .title p {
    text-align: center;
    font-size: 1.75rem;
  }
}

.details {
  margin: calc(var(--grid-v) * 0.5) 0;
  font-size: 1.25rem;
  white-space: nowrap;
}

@media (max-aspect-ratio: 1/1) {
  .details {
    margin: var(--grid-v) 0;
  }
}

.details time,
.details address {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-aspect-ratio: 1/1) {
  .details {
    text-align: center;
  }
  .details time,
  .details address {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

footer {
  background: var(--c-grey);
  padding: var(--grid-v) 0;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 1/1) {
  footer p {
    flex-direction: column;
  }
}

footer a {
  font-size: 1rem;
  line-height: var(--grid-v);
  color: var(--c-blue);

  margin: 0 var(--grid-v);
  white-space: nowrap;
}

@media (max-aspect-ratio: 1/1) {
  footer a {
    font-size: 1.5rem;
    line-height: calc(var(--grid-v) * 1.5);
  }
}
.ctas {
  text-align: left;
}

@media (max-aspect-ratio: 1/1) {
  .ctas {
    text-align: center;
  }
}

.ctas a {
  --top: 0.2rem;
  --space: calc(var(--grid-h) / 3);
  font-size: 0.75rem;
  line-height: calc(var(--grid-v) * 0.75 - var(--top));
  display: inline-block;
  border: 0;
  padding: 0 var(--space) var(--top) var(--space);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  background: var(--c-light-blue);
  white-space: nowrap;
}

.ctas a:last-child {
  margin-right: 0;
}

@media (max-aspect-ratio: 1/1) {
  .ctas a {
    font-size: 1.5rem;
    line-height: calc(var(--grid-v) * 1.5 - var(--top));
  }
}

.ctas a:hover {
  color: var(--c-blue);
  background: var(--c-white);
}
