@font-face {
  font-family: SofiaPro;
  src: url('assets/Sofia-Pro-Light.otf');
}

html {
  font-size: 16px;
  --c-ylgf-green: #05cf9d;
  --c-grey: #e8e6e6;
  --c-blue: #3a47e4;
  --c-white: #ffffff;
  --grid-v: 2.5rem;
  --grid-h: 4.44rem;
}

* {
  text-decoration: none;
  font-family: 'SofiaPro', sans-serif;
}
body {
  text-decoration: none;
  margin: 0;
  padding: 0;
  background: var(--c-blue);
  color: var(--c-white);
  box-sizing: border-box;
  font-family: 'SofiaPro', sans-serif;
}

article {
  position: relative;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #05cf9d;
  color: var(--c-ylgf-green);
}

header h1 {
  margin: 0;
  line-height: 44px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  color: white;
  padding: 0.625rem;
  text-transform: uppercase;
}

.container-fluid {
  padding-top: 20px;
  width: calc(100% - 200px);
  margin: 0 auto;
  border-left: 1px solid var(--c-ylgf-green);
  border-right: 1px solid var(--c-ylgf-green);
}

@media (max-aspect-ratio: 1/1) {
  header {
    border-bottom: none;
  }
  .container-fluid {
    display: none;
  }
}

/* Content */

section {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2 {
  text-align: center;
  font-size: 2.8125rem;
  color: var(--c-ylgf-green);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row .person {
  padding: 0 4.375rem 0 4.375rem;
  width: 300px;
}

.row .person:nth-child(3n + 2) {
  padding-top: calc(4rem * 2);
}

.row.flat .person:nth-child(3n + 2) {
  padding-top: calc(10rem * 2);
}

.row.last {
  justify-content: space-evenly;
}

.row.last .person {
    padding-top: calc(2rem * 2); 
    padding-bottom: 4rem;
}

.person .name {
  font-size: 1.5625rem;
  line-height: 3.5625rem;
}

.profile {
  width: 100%;
  box-shadow: 40px 17px 30px 0 rgba(0, 0, 0, 0.15);
}

@media (max-aspect-ratio: 1/1) {
  section {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section h2 {
    text-align: center;
    font-size: 2.8125rem;
    color: var(--c-ylgf-green);
    padding: 1rem;
  }

  .row .person {
    padding-bottom: 4rem;
  }

  .row .person:nth-child(3n + 2) {
    padding-top: 0rem;
  }
  
  .row.flat .person:nth-child(3n + 2) {
    padding-top: 0rem;
  }
  .row.last .person {
     padding-top: 0rem; 
  }
}

/* Footer */

footer {
  background: var(--c-grey);
  padding: var(--grid-v) 0;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 1/1) {
  footer p {
    flex-direction: column;
  }
}

footer a {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: var(--grid-v);
  color: var(--c-blue);
  margin: 0 var(--grid-v);
  white-space: nowrap;
  
}

@media (max-aspect-ratio: 1/1) {
  footer a {
    font-size: 1.5rem;
    line-height: calc(var(--grid-v) * 1.5);
  }
}
